{% extends "base/base.html" %}
{% load static %}

{% block custom_imports %}
<link rel="stylesheet" href="{% static 'greeting/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'greeting/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">

<script src="{% static 'greeting/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'greeting/js/jquery.min.js' %}"></script>
<script src="{% static 'greeting/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'greeting/js/my_js.js' %}"></script>
{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
	<h2>Login</h2>
	<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button class="btn-lg submit_button" type="submit" id="login_button">Login</button>
	</form>
</div>

{% endblock %}