{% extends 'base/base.html' %}
{% load static %}

{% block custom_imports %}
    <link rel="stylesheet" href="{% static 'profile/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">

    <script src="{% static 'profile/js/jquery.min.js' %}"></script>
    <script src="{% static 'profile/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profile/js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'profile/js/my_js.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container mt-4">

     <div class="row">
      <div class="col-8"><h1>Halo, selamat datang!</h1></div>
      <div class="col-4"><button class="btn-lg" id="theme_switch_button">Change Theme!</button></div>

     </div>

    <br />
    <img src="{% static 'profile/assets/galang.jpg' %}" class="d-block img-fluid mb-3 mx-auto" style="max-width: 20em; max-height: 20em">
     <div class="row textbox accordion first_element" id="1">
        <div class="col">
 
          <h2>Aktivitasku</h2>
          <ul class="accordion-slide">
            <li><h3>Asdos DDP 1 2019/2020</h3></li>
            <li><h3>Menulis blog jurnalgalang.com</h3></li>
            <li><h3>Mencari duit dengan halal</h3></li>
            <li><h3>Menjadi orang baik :)</h3></li>
          </ul>

      </div>
     </div>
     <div class="row textbox accordion" id="2">
        <div class="col">

          <h2>Organisasi dan Kepanitiaan</h2>
          <ul class="accordion-slide">
            <li><h3>Scientific Committee Pelatnas TOKI 2019/2020</h3></li>
            <li><h3>Junior Member RISTEK DS 2019</h3></li>
            <li><h3>Staff BEM Keilmuan 2019</h3></li>
          </ul>

      </div>
     </div>

     <div class="row textbox accordion" id="3">
        <div class="col">

          <h2>Prestasi</h2>
          <ul class="accordion-slide">
            <li><h3>Yu-Gi-Oh! Duel Links Asia Regional Participant 2019</h3></li>
            <li><h3>Juara 2 lomba makan burger FIB 2018</h3></li>
            <li><h3>Terlucu PMB 2018</h3></li>
            <li><h3>Juara 1 lomba Cookierun Telkomsel Se-Bali 2015</h3></li>
          </ul>

      </div>
     </div>



    </div>
    
{% endblock %}