<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    {% block custom_imports %}
    {% endblock %}
    

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>

      <nav class="navbar navbar-expand-lg navbar-custom mb-4">
      <div class="container">

        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mr-auto" href="#">GGO</a>

        <div class="d-flex flex-row order-2 order-lg-3">
         <div class="navbar-nav flex-row">
            {% if user.is_authenticated %}    
              <span class="navbar-text" id="username-header">
                {{ user.username }}
              </span>

             <!--  <a href="{% url 'logout' %}"><button class="btn" id="auth_button">Logout</button></a> -->
              <span class="navbar-btn ml-2" id="auth_button">
                  <a href="{% url 'logout' %}" class="btn">Logout</a>
    
          </span>
              <!-- <button  class="btn" id="auth_button"  onclick="goto_page({% url 'logout' %})">Logout</a> -->
            {% else %}
              <span class="navbar-text" id="username-header">
                pengunjung
              </span>

             <!--  <a href="{% url 'login' %}"><button class="btn" id="auth_button">Login</button></a> -->
              <span class="navbar-btn ml-2" id="auth_button">
                  <a href="{% url 'login' %}" class="btn">Login</a>
              </span>
              <!-- <button class="btn" id="auth_button" onclick="goto_page({% url 'login' %})" >Login</a> -->
            {% endif %}
            
          </div>

          

        
        </div> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- This is the actual code that creates the "hamburger icon" -->
        <!-- The data-target grabs ids to put into the icon -->
      
        <!-- Anything inside of collapse navbar-collapse goes into the "hamburger" -->
        <div class="collapse navbar-collapse order-3 order-lg-2" id="bs-example-navbar-collapse-1">
          <div class="navbar-nav">

            <a class="nav-item nav-link active" href="{% url 'greeting:home' %}">Beranda<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{% url 'profile:home' %}">Tentang Aku</a>
            <a class="nav-item nav-link" href="{% url 'books:home' %}">Cari Buku</a>

          </div>

        </div> <!-- /.navbar-collapse -->

        



      </div>
    </nav>
     {% block content %}

     {% endblock %}
  </body>
</html>