@font-face {
	font-family: "lovelo-black";
	src: url("fonts/lovelo-black/Lovelo-Black.eot");
	src:
	url("fonts/lovelo-black/Lovelo-Black.woff") format("woff"),
	url("fonts/lovelo-black/Lovelo-Black.otf") format("opentype")
}

@font-face {
	font-family: "montserrat-light";
	src:
	url("fonts/montserrat-light/Montserrat-Light.otf") format("opentype"),
	url("fonts/montserrat-light/Montserrat-LightItalic.otf") format("opentype")
}

@font-face {
	font-family: "montserrat-medium";
	src:
	url("fonts/montserrat-medium/Montserrat-Medium.otf") format("opentype"),
	url("fonts/montserrat-medium/Montserrat-MediumItalic.otf") format("opentype")
}
body {
	background-color: #2D283E;
	overflow-y: scroll;
	color: #D1D7E0;
	margin-bottom: 1em;
	font-family: montserrat-light;
}

.title {
	font-family: lovelo-black;
}

.submit_button {
	color: #D1D7E0;
	background-color: #584F6F;
	font-size: 0.7em
}

.textbox {
	background-color: #CAA9E6;
	overflow-wrap: break-word;
}

.container {
	word-break: break-word;
}


#books_results .h5 {
	font-family: montserrat-medium;
}
#books_results .col-3 {
	border: 0.05em solid #564f6f;
}

#loading_gif {
	display: block;
}