{% extends "base/base.html" %}
{% load static %}

{% block custom_imports %}
<link rel="stylesheet" href="{% static 'greeting/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'greeting/css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">

<script src="{% static 'greeting/js/jquery.min.js' %}"></script>
<script src="{% static 'greeting/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'greeting/js/bootstrap.min.js' %}"></script> 
<script src="{% static 'greeting/js/my_js.js' %}"></script>
{% endblock %}
{% block title %}Hi!{% endblock %}



{% block content %}
<div class="container">
  {% if user.is_authenticated %}
    <div class="row justify-content-center mb-3">
      <h1> Halo, {{ user.username }}! </h1>
    </div>
    
    <!-- <script>load_profile_picture( "{{ user.user_info.profpic_link }}" )</script>
    
    <div id="prof_loc">

    </div> -->
    <div class="row justify-content-center mb-3">
      <img class="img-fluid px-3" src={{ user.user_info.profpic_link }} alt="Tidak ada foto profil!">
    </div>

    <div class="row justify-content-center mb-3">
    <p> {{ user.user_info.status }}</p>
    </div>

  {% else %}
    <div class="row justify-content-center mb-3">
      <h1> Halo, pengunjung! </h1>
    </div>
    
    <div class="row justify-content-center mb-3">
     <p> Silahkan login terlebih dahulu :) </p>
    </div>
  {% endif %}
<div>
{% endblock %}
