{% extends 'base/base.html' %}
{% load static %}

{% block title %}Mencari Buku{% endblock %}

{% block custom_imports %}
    <link rel="stylesheet" href="{% static 'books/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'greeting/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'books/css/style.css' %}">

    <script src="{% static 'books/js/jquery.min.js' %}"></script>
    <script src="{% static 'books/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'books/js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'books/js/my_js.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">

      <div class="row justify-content-center">
        <div class="col">
         <h1 class="title">Mau baca apa hari ini?</h1>
        </div>
      </div>


      <input type="text" maxlength="200" class='form-control' id="books_search_form" >
      <br />
      <button class="btn-lg submit_button" id="books_search_button">Cari!</button>
      <br />
      <br />

    </div>

    <img src="{% static 'books/assets/loading2.gif' %}" id="loading_gif" class="mx-auto">

    <div class="container" id="books_results" style="background-color: #caa9e6; color:#2d283e;">

    </div>



    
    
{% endblock %}