@font-face {
	font-family: "lovelo-black";
	src: url("fonts/lovelo-black/Lovelo-Black.eot");
	src:
	url("fonts/lovelo-black/Lovelo-Black.woff") format("woff"),
	url("fonts/lovelo-black/Lovelo-Black.otf") format("opentype")
}

@font-face {
	font-family: "montserrat-light";
	src:
	url("fonts/montserrat-light/Montserrat-Light.otf") format("opentype"),
	url("fonts/montserrat-light/Montserrat-LightItalic.otf") format("opentype")
}

@font-face {
	font-family: "montserrat-medium";
	src:
	url("fonts/montserrat-medium/Montserrat-Medium.otf") format("opentype"),
	url("fonts/montserrat-medium/Montserrat-MediumItalic.otf") format("opentype")
}
body {
	background-color: #2D283E;
	overflow-y: scroll;
	color: #D1D7E0;
	margin-bottom: 1em;
	font-family: montserrat-light;
}

.title {
	font-family: lovelo-black;
}

.submit_button {
	color: #D1D7E0;
	background-color: #584F6F;
	font-size: 0.7em
}

.textbox {
	background-color: #CAA9E6;
	overflow-wrap: break-word;
}

.container {
	word-break: break-word;
}

img.img-fluid {
	/*max-width: 20%;*/
	height: auto;
	width: auto;
	max-height: 10em;
}

#books_results .h5 {
	font-family: montserrat-medium;
}
#books_results .col-3 {
	border: 0.05em solid #564f6f;
}

#loading_gif {
	display: block;
}

#mainbody {
	justify-content: center;
}

#auth_button .btn {
	border-color: #2d283e;
}

/*.navbar-custom .navbar-brand {
	margin-right: auto;
}*/

/* customize bootstrap navbar,
source: https://stackoverflow.com/questions/43381596/bootstrap-4-navbar-color; */
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* change the background color */
.navbar-custom {
    background-color: #802bb1;
}

.navbar-custom .navbar-toggler {
	border-color: #2d283e;
}

.navbar-custom .navbar-toggler:focus {
	outline:none;
	margin: 0px;
}
.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(45, 40, 62, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
 /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
}